<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LoginPhone</key>
	<string>ZCLoginPhoneController</string>
	<key>TrainCustom</key>
	<string>ZCTrainCustomController</string>
	<key>TrainDetail</key>
	<string>ZCTrainDetailController</string>
	<key>TrainPlan</key>
	<string>ZCTrainPlanController</string>
	<key>TrainConfigure</key>
	<string>ZCTrainConfigureController</string>
	<key>SelectColor</key>
	<string>ZCSelectColorController</string>
	<key>SelectEquipment</key>
	<string>ZCSelectEquipmentController</string>
	<key>SelectPattern</key>
	<string>ZCSelectPatternController</string>
	<key>TrainFinish</key>
	<string>ZCTrainFinishController</string>
	<key>TrainSport</key>
	<string>ZCTrainSportController</string>
	<key>ProfileSet</key>
	<string>ZCProfileSetController</string>
	<key>MoreSet</key>
	<string>ZCMoreSetController</string>
	<key>ProcotolDetail</key>
	<string>ZCProcotolDetailController</string>
	<key>MyOrderList</key>
	<string>ZCMyOrderListController</string>
	<key>GoodsDetail</key>
	<string>ZCGoodsDetailController</string>
	<key>CreateAddress</key>
	<string>ZCCreateAddressController</string>
	<key>OrderComfire</key>
	<string>ZCOrderComfireController</string>
	<key>OrderSuccess</key>
	<string>ZCOrderSuccessController</string>
	<key>ShopComment</key>
	<string>ZCShopCommentController</string>
	<key>GoodsCommentOperate</key>
	<string>ZCGoodsCommentOperateController</string>
	<key>SearchTrain</key>
	<string>ZCSearchTrainController</string>
	<key>TrainSportGroup</key>
	<string>ZCTrainSportGroupController</string>
	<key>ContactService</key>
	<string>ZCContactServiceController</string>
	<key>ShowEquipment</key>
	<string>ZCShowEquipmentController</string>
	<key>TrainTimer</key>
	<string>ZCTrainTimerController</string>
	<key>TimerAutoMode</key>
	<string>ZCTimerAutoModeController</string>
	<key>TimerWRCMode</key>
	<string>ZCTimerWRCModeController</string>
	<key>TimerDown</key>
	<string>ZCTimerDownController</string>
	<key>TimerUp</key>
	<string>ZCTimerUpController</string>
	<key>TimerStopWatch</key>
	<string>ZCTimerStopWatchController</string>
	<key>BindPhone</key>
	<string>ZCBindPhoneController</string>
	<key>ClassDetail</key>
	<string>ZCClassDetailController</string>
	<key>ActionDetail</key>
	<string>ZCActionDetailController</string>
	<key>EquipmentDetail</key>
	<string>ZCEquipmentDetailController</string>
	<key>TrainEquipment</key>
	<string>ZCTrainEquipmentController</string>
	<key>TrainAction</key>
	<string>ZCTrainActionController</string>
	<key>TrainClassAllIn</key>
	<string>ZCTrainClassAllInController</string>
	<key>AutoTimer</key>
	<string>ZCAutoTimerController</string>
	<key>AutoTimerTrain</key>
	<string>ZCAutoTimerTrainController</string>
	<key>AutoWRCTrain</key>
	<string>ZCAutoWRCTrainController</string>
	<key>AutoWRCMiddle</key>
	<string>ZCAutoWRCMiddleController</string>
	<key>AutoTimerUp</key>
	<string>ZCAutoTimerUpController</string>
	<key>AutoWRCSportTrain</key>
	<string>ZCAutoWRCSportTrainController</string>
	<key>AutoTimerTab</key>
	<string>ZCAutoTimerTabController</string>
	<key>ClassPlay</key>
	<string>ZCClassPlayController</string>
	<key>ArticleDetail</key>
	<string>ZCArticleDetailController</string>
	<key>ClassPlayFinish</key>
	<string>ZCClassPlayFinishController</string>
	<key>TrainAutoTrain</key>
	<string>ZCTrainAutoTrainController</string>
	<key>CustomActionTrain</key>
	<string>ZCCustomActionTrainController</string>
	<key>CustomActionConfigure</key>
	<string>ZCCustomActionConfigureController</string>
	<key>CustomActionDetail</key>
	<string>ZCCustomActionDetailController</string>
	<key>SmartTimer</key>
	<string>ZCSmartTimerController</string>
	<key>LoginVerify</key>
	<string>ZCLoginVerifyController</string>
	<key>LoginNext</key>
	<string>ZCLoginNextController</string>
	<key>TargetSelect</key>
	<string>ZCTargetSelectController</string>
	<key>SmartRuler</key>
	<string>CFFSmartRulerController</string>
	<key>SmartCloud</key>
	<string>CFFSmartCloudController</string>
	<key>SmartRulerRecordDetail</key>
	<string>CFFSmartRulerRecordDetailController</string>
	<key>SmartRulerRecord</key>
	<string>CFFSmartRulerRecordController</string>
	<key>FillUserInfoStep1</key>
	<string>CFFFillUserInfoStep1VC</string>
	<key>FillUserInfoStep2</key>
	<string>CFFFillUserInfoStep2VC</string>
	<key>SmartCloudBase</key>
	<string>ZCSmartCloudBaseController</string>
	<key>FamilySuit</key>
	<string>ZCFamilySuitController</string>
	<key>SuitTrain</key>
	<string>ZCSuitTrainController</string>
	<key>SuitTrainFinish</key>
	<string>ZCSuitTrainFinishController</string>
	<key>SuitEquipmentTest</key>
	<string>ZCSuitEquipmentTestController</string>
	<key>SuitTestTrainResult</key>
	<string>ZCSuitTestTrainResultController</string>
	<key>TrainTimerHistory</key>
	<string>ZCTrainTimerHistoryController</string>
	<key>TrainClassHistory</key>
	<string>ZCTrainClassHistoryController</string>
	<key>SmartTypeRuler</key>
	<string>CFFSmartTypeRulerController</string>
	<key>TrainPlanDetail</key>
	<string>ZCTrainPlanDetailController</string>
	<key>TrainPlanAllData</key>
	<string>ZCTrainPlanAllDataController</string>
	<key>AutoExercise</key>
	<string>ZCAutoExerciseController</string>
	<key>SelectSmartDeviceList</key>
	<string>ZCSelectSmartDeviceListController</string>
	<key>AddressManage</key>
	<string>ZCAddressManageController</string>
	<key>PersonalHealthyData</key>
	<string>ZCPersonalHealthyDataController</string>
	<key>FollowTrain</key>
	<string>ZCFollowTrainController</string>
	<key>PowerPlatform</key>
	<string>ZCPowerPlatformController</string>
	<key>PowerPlatformSet</key>
	<string>ZCPowerPlatformSetController</string>
	<key>PowerSingleType</key>
	<string>ZCPowerSingleTypeController</string>
</dict>
</plist>
